/* Add here all your css styles (customizations) */

.da-slide {
    margin-top:-50px;
}

.header .logo img {
    margin: 15px 0;
}

.header-fixed .header.header-fixed-shrink .logo img {
 
    max-height:100px;
    margin: 45px 0 -4px;
}

.footer {
    margin-top: 50px;
}

.da-slide .da-img {
    margin-left: 0%; 
    margin-top:30px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {

    background-color:transparent;
    border-color: #ddd;
}

slide p i {
    padding: 0px; 
}
body {
font-family:Microsoft JhengHei,微軟正黑體;
font-size:1.5em;
}

* {
font-family:Microsoft JhengHei,微軟正黑體;
}

h1, h2, h3, h4, h5, h6 {
font-family:Microsoft JhengHei,微軟正黑體;
font-weight:bold;
}


.line-icon-page .item-box {
    width: 33.33333333333333%;
    padding: 15px 10px;
}

.line-icon-page .item-box a {
text-decoration:none;
}

.breadcrumbs.breadcrumbs-dark {
    background: #222;
    padding: 10px 0 10px; 
    border-bottom: solid 3px #777;
}

.info-blocks-in a {
text-decoration:none;
}
.da-slide h2 i {
    background-color:transparent;
    font-weight:bold;
}

.sidebar-nav-v1 li ul a {
    font-size: 15px;
}

.da-slide h2 {
    text-shadow: #000000 0px 0px 10px;
}

.da-slide p i {
    text-shadow: #fef365 0px 0px 10px;
    color: #000;
    background-image:none;
}

.MyPager td {
    padding-left: 10px;
}


.da-slide h2 {
    font-size:25pt;
}

@media (min-width: 992px) {
    .header .dropdown-menu li a {  
        font-size: 15px;
    }
    .paddingTop {
    padding-top: 88px;
}

}

@media (max-width: 768px) {
img#ctl00_Img_logo {
    height: 60px;
}
}



/*訊息對話框RWD*/
.blockMsg {
    width: 60% !important;
    left: 20% !important;
    font-size: 12pt !important;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .blockMsg {
        width: 70% !important;
        left: 15% !important;
        font-size: 12pt !important;
    }
}

@media screen and (max-width: 600px) {
    .blockMsg {
        width: 90% !important;
        left: 5% !important;
        font-size: 11pt !important;
    }

        .blockMsg font {
            font-size: 12pt;
        }
}
