<!DOCTYPE html>
<html>
<head><title>綠界測試</title></head>
<body>
    <h1>註冊測試頁面</h1>
    <div style="color:red; background-color: yellow;"><center>警告:這是測試頁面! 請勿使用真實信用卡資料!</center></div>
    <form method="POST" action="/checkout">
        <label for="name">註冊人姓名：</label>
        <input type="text" name="name" id="name" required><br>
        <label for="phone-number">電話：</label>
        <input type="text" name="phone-number" id="phone-number" required><br>
        <label for="receipt">收據抬頭：</label>
        <input type="text" name="receipt" id="receipt"><br>
        <label for="tax-id">統一編號：</label>
        <input type="text" name="tax-id" id="tax-id"><br>
        <label for="num-meal">會議參與者：</label>
        <input type="number" name="num-meal" id="num-meal" value="0" min="0"><br>
        <label for="has-paper">是否有投稿:</label>
        <input type="checkbox" name="has-paper" id="has-paper"><br>
        <label for="num-normal">一般投稿：</label>
        <input type="number" name="num-normal" id="num-normal" value="0" min="0" disabled><br>
        <label for="num-student">學生投稿：</label>
        <input type="number" name="num-student" id="num-student" value="0" min="0" disabled><br>
        <label for="paper-id">論文編號：</label>
        <input type="text" name="paper-number" id="paper-number" disabled><br>
        <button type="submit">立即付款</button>
    </form>
</body>

<script>
    document.getElementById('has-paper').addEventListener('change', function() {
        document.getElementById('paper-number').disabled = !this.checked;
        document.getElementById('num-normal').disabled = !this.checked;
        document.getElementById('num-student').disabled = !this.checked;
    });
</script>
</html>
